{% extends "base.html" %}
{% block content %}
  <h2 class="mt-4">Borrow Books</h2>
  <p>This page is for users who want to borrow books.</p>
  <div style="text-align: right; font-size: small; margin-bottom: 10px;">
    Logged in as: {{ request.user.email }}
  </div>


   <!-- Search form -->
   <form method="get" action="">
    <div class="input-group mb-3">
       <input type="text" name="q" value="{{ query }}" class="form-control" placeholder="Search by title, author, or genre">
       <button class="btn btn-outline-secondary" type="submit">Search</button>
    </div>
   </form>

  <!-- List of books -->
  <div class="book-list">
    {% for book in books %}
      <div class="book-item" style="margin-bottom:20px;">
        {% if book.image %}
          <img src="{{ book.image.url }}" alt="{{ book.title }}" style="max-width:200px;">
        {% endif %}
        <h3>{{ book.title }}</h3>
        <p><strong>Author:</strong> {{ book.author }}</p>
        <p><strong>Genre:</strong> {{ book.genre }}</p>
        <p><strong>Description:</strong> {{ book.description }}</p>
        <p><strong>Uploaded by:</strong> {{ book.user.email }}</p>
        <p><strong>Availability:</strong> {{book.is_available }}</p>
        
        {% if user != book.user %}

        <div class="d-flex gap-2">
          <form method="POST" action="{% url 'request_borrow_book' book.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Request to Borrow</button>
          </form>
      
          <form method="GET" action="{% url 'chat:start-chat' book.user.username %}">
              <button type="submit" class="btn btn-secondary">Chat with provider</button>
          </form>
      </div>
        {% endif %}

      </div>
    {% empty %}
      <p>No books found.</p>
    {% endfor %}
  </div>
  
  <div class="mt-3 mb-5">
    <a href="{% url 'choose' %}" class="btn btn-secondary">Back</a>
  </div>

{% endblock %}