{% extends "base.html" %}

{% block content %} 

<wrapper class="block max-w-2xl mx-auto my-10 px-6">
    <div id="chat_window" style = "padding: 50px">
        <!-- Chat Messages -->
        <div id="chat_container">
            <ul id="chat_messages" style="background-color: rgb(79, 79, 79); padding: 50px; border-radius: 8px; width: 50vw;">
                {% for message in chat_messages reversed %}
                {% include 'chat_message.html' %}
                {% endfor %}
            </ul>
        </div>

        <!-- Message Input Form -->
        <div class="sticky bottom-0 z-10 p-2 bg-gray-800">
            <div class="flex items-center rounded-x1 px-2 py-2">
                <form id="chat_message_form" method = "POST" class="w-full"
                    hx-ext="ws"
                    ws-connect="/ws/chatroom/{{ chatroom_name }}"
                    ws-send
                    >
                    {% csrf_token %}
                    {{ form }}
                </form>
            </div>
        </div>
    </div>
</wrapper>
<script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>

{% endblock %}