{% extends "base.html" %}

{% block content %} 

<wrapper class="block max-w-2xl mx-auto my-10 px-6">
    <div id="chat_window" style = "padding: 50px;">

        <div id="chat_container" style = "background-color: rgb(79, 79, 79); border-radius: 8px; width: 500px; max-height: 400px; margin: 0 auto;">
            <ul style="padding: 10px; width: 500px; max-height: 400px; margin: 0 auto;">
                <div id="chat_messages" style="width: 480px; overflow-y: auto; max-height: 380px; margin: 0 auto;" hx-on:htmx:afterSettle="scrollToBottom()">
                    {% for message in chat_messages reversed %}
                    {% include 'chat_message.html' %}
                    {% endfor %}
                </div>
            </ul>
        </div>

        <div class="sticky bottom-0 z-10 p-2 bg-gray-800" style = "margin: 0 auto; width: 500px">
            <div class="flex items-center rounded-x1 px-2 py-2">
                <form id="chat_message_form" method = "POST" class="w-full"
                    hx-ext="ws"
                    ws-connect="/ws/chatroom/{{ chatroom_name }}"
                    ws-send
                    >
                    {% csrf_token %}
                    {{ form }}
                </form>
            </div>
        </div>
    </div>
</wrapper>
<script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>

<script>
    function scrollToBottom() {
      const messagesDiv = document.getElementById("chat_messages");
      if (messagesDiv) {
        messagesDiv.scrollTop = messagesDiv.scrollHeight;
      }
    }
  
    // Scroll when page loads
    window.onload = scrollToBottom;
    document.body.addEventListener('htmx:afterSwap', scrollToBottom);
</script>

{% endblock %}