{% extends 'base.html' %}
{% block content %}

{% if user.role == 'provider' %}
  <h2 class="mt-4">Pending Borrow Requests for Your Books</h2>
  <table>
    <thead>
      <tr>
        <th>Book</th>
        <th>Requester</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Message</th>
        <th>Status</th>
        <th>Avg Rating</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for req in borrow_requests %}
        {% if req.book.user == user and req.status == 'pending' %}
          <tr>
            <td>{{ req.book.title }}</td>
            <td>{{ req.requester.username }}</td>
            <td>{{ req.start_date }}</td>
            <td>{{ req.end_date }}</td>
            <td>{{req.message}}</td>
            <td>{{ req.get_status_display }}</td>
            <td>{% if req.requester.borrower_rating %}
                  {{ req.requester.borrower_rating }}
                {% else %}
                  No rating
                {% endif %}
            </td>
            <td>
              <a href="{% url 'handle_borrow_request' req.id 'accept' %}">Accept</a>
              <a href="{% url 'handle_borrow_request' req.id 'decline' %}">Decline</a>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <h2 class="mt-5">Approved Borrow Requests for Your Books</h2>
  <table>
    <thead>
      <tr>
        <th>Book</th>
        <th>Requester</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for req in borrow_requests %}
        {% if req.book.user == user and req.status == 'approved' %}
          <tr>
            <td>{{ req.book.title }}</td>
            <td>{{ req.requester.username }}</td>
            <td>{{ req.start_date }}</td>
            <td>{{ req.end_date }}</td>
            <td>{{ req.get_status_display }}</td>
            <td>
              <a href="{% url 'handle_borrow_request' req.id 'returned' %}">Mark Returned</a>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% endif %}

<a href="{% url 'choose' %}" class="btn btn-secondary mt-3 mb-5">Back</a>

{% endblock %}